.navigation {
  width: 160px;
  height: 100%;
  background: $darkGrey;
  position: fixed !important;
  overflow: hidden;
  left: 0;
  bottom: 0;
  top: 50px;
  margin: 0;
  z-index: 1002;
}

.right-container {
  z-index: 0;
  margin: 30px 10px 0 10px;
  transition: all .5s;
  /* transform: translateX(0px);*/
  opacity: 1;
}

.mar-left180{
  margin-left: 180px !important;
}

.right-panel.out {
  /*transform: translateX(50px);*/
  opacity: 0;
}

.navigation .projectItem {
  padding: 10px 12px 10px 20px;
  background: $darkGrey;
  color: $gray4 !important;
  position: relative;
  transition: .5s;
  cursor: pointer;
  display: block;
  line-height: 26px;
  text-decoration: none !important;
  display:block;
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
}

.navigation .projectItem:before {
  content: " ";
  position: absolute;
  width: 5px;
  left:0;
  top: 50%;
  bottom: 50%;
  background: $red;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.navigation .projectItem:hover:before,.navigation .active:before {
  top: 0;
  bottom: 0;
}

.navigation .projectItem i {
  border: 1px solid $gray;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
}

.navigation .projectItem:hover,.navigation .active {
  background: $darkGrey3;
}
